* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    height: 20px;
}

.nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.nav-text {
    color: #222;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
}

.menu-dropdown {
    height: 30%;
}

.account-button {
    background-color: purple;
    text-align: center;
    color: white;
    border-radius: 50%;
    line-height: 20px;
}

main {
    display:grid;
    justify-content: center;
    text-align: center;
}

.googlelogo {
    padding: 100px 0px 20px 0;
    width: auto;
}

.searchbox {
    background-color: transparent;
    border-radius: 24px;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    height: 44px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 482px;
    display: grid;
    grid-template-columns: 10% 90%;
}


.mag-glass {
    margin: 10px 10px;
    padding: 0;
    width: 20px;
}


#mag-glass {
    max-width: 100%;
    padding: 0;
}

.searchbox:hover {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

#form {
    background-color: transparent;
    border-style: none;
    padding: 5px 0;
    font-size: 16px;
    line-height: 34px;
    margin: 0;
    width: 100%;
}

button {
    font-family: Arial, sans-serif;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    border: 0;
    box-shadow: none;
    color: #5F6368;
    background-color: #f2f2f2;
    margin: 40px 4px;
}

button:hover {
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}

.language-offer {
    font-size: small;
    color: #222;
}

